 
<h2>Here are some links to help you start: <button mat-button>Click me!</button> </h2>
<mat-checkbox>Check me!</mat-checkbox>
<mat-toolbar>
  <mat-toolbar-row>
    <a target="_blank"  >Angular Material</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank"  >Flex-Layout</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" >Letsboot.com</a>
  </mat-toolbar-row>
</mat-toolbar> 

<mat-chip-list>
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>

<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>